@font-face {
    font-family:'Colr';
    src:url('Colr.woff');}
@font-face {
    font-family:'Mess';
    src:url('Mess.woff');}
@font-face {
    font-family:'subheading';
    src:url('Colr.woff');}
@font-face {
    font-family:'body';
    src:url('CirrusCumulus.woff');}
@font-face {
    font-family:'brush';
    src:url('bianzhidai_noBG-Brush.woff');}
/*reset project */
body {
    margin:0;
    padding: 0;
    background-size: cover, 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: black;
    overflow-x: hidden;
}

div.bigcontainer {
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
}
div.tablecontents {
    position:fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
div.c1 {
    border-right: 1px solid white;
    padding: 10px;
}
div.cc1:hover {
    background-color: violet;
    transition: 0.4s;
}
div.c2 {
    border-right: 1px solid white;
    padding: 10px;
}
div.cc2:hover {
    background-color: rgb(0, 210, 210);
    transition: 0.4s;
}
div.c3 {
    border-right: 1px solid white;
    padding: 10px;
}
div.cc3:hover {
    background-color: #00c000;
    transition: 0.4s;
}

div.c4 {
    padding: 10px;
}

div.cc4:hover {
    background-color: orange;
    transition: 0.4s;
}
div.tablecontents a {
    color:white;
    text-decoration: none;
}

div.main {
    overflow:scroll;
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
div {
    box-sizing: border-box;
}

img {
    width: 100%;
}
div.float {
    top: 50%;
    left: 50%;
    z-index: 10;
    position: fixed;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
}
div.float1 {
    bottom: 0%;
    left: 22%;
    z-index: 10;
    position: fixed;
    margin-right: 40px;
    margin-bottom: 5px;
    color: blue;
    font-size: 4vw;
}
div.float2 {
    top: 15%;
    left: 12%;
    z-index: 10;
    position: fixed;
    width: 70px;
    margin-left: -50px;
    margin-top: -50px;
}
div.float3 {
    bottom: 25%;
    right: 2%;
    z-index: 10;
    position: fixed;
    width: 200px;
    margin-left: -50px;
    margin-top: -50px;
}
/* typography */

div.hugetext {
    font-size:12vw;
    line-height: 12vw;
}
div.hugetext2 {
    font-size:7.7vw;
    line-height: 17vw;
}

div.headingtext {
    font-size: 2.5vw;
    line-height: 2.8vw;
    margin:5.25px;
    padding-top: 10px;
    padding-bottom: 3.5px;
}

div.mediumtext {
    font-size: 1.2vw;
    line-height: 1.3vw;
}
div.bodytext {
    font-size: 1.5vw;
    line-height: 1.6vw;
    margin: 7px;
    padding: 7px;
}
div.smalltext {
    font-size: 1vw;
    line-height: 1.2vw;
}

div.sans {
    font-family: 'Colr';
}
div.sans2 {
    font-family: 'Mess';
}
div.brush {
    font-family: 'brush';
}
div.subheading {
    font-family: 'subheading';
    border-radius: 0%;
}

div.body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

/* typography */

div.textwhite {
    color: white;
}
div.textyellow {
    color: yellow;
}
div.textgreen {
    color:#00ff00;
}
div.textblue {
    color:blue;
}
div.textlblue {
    color:cyan;
}
div.textpink {
    color:violet;
}
div.textorange{
    color: orange;
}

div.bgpink {
    background-color: pink;
}
div.bgwhite {
    background-color: white;
}
div.bgblack {
    background-color: black;
}
div.bggreen {
    background-color: #00c000;
}
div.bgpurple {
    background-color: darkmagenta;
}
div.bgblue {
    background-color: blue;
}

/* layout */
div.width150 {
    width:150%
}
div.width100 {
    width: 100%;
}
div.width85 {
    width: 85%;
}
div.width80 {
    width: 80%;
}

div.width75 {
    width: 75%;
}

div.width66 {
    width: 66.66%;
}

div.width60{
    width: 60%;
}
div.width56{
    width: 56%;
}
div.width50{
    width: 50%;
}
div.width45{
    width: 45%;
}
div.width40 {
    width: 40%;
}

div.width33 {
    width: 33.33%;
}

div.width25 {
    width: 25%;
}
div.width20 {
    width: 20%;
}

div.dashedborder {
    border: dashed darkgray;
}
div.textcenter {
    text-align:center;
}
div.textleft {
    text-align:left;
}
div.textright {
    text-align:right;
}

/* Cover */
div.title {
    margin-top:4.5vw;
    margin-left: 2vw;
}
div.title0 {
    margin-top:4.5vw;
    margin-left: 2vw;
}

div.cover {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    margin-top: 10vh;
}
/* Intro */
div.introheroimage{
    display: flex;
    flex-wrap: wrap;
}
div.introheading{
    box-sizing: border-box;
    padding-top: 5VW;
    margin-bottom: 15vh;
}
div.introtext {
    background: linear-gradient(transparent 50%, rgb(211, 115, 211));
}

/* Chapter 2 */
div.c2heading{
    box-sizing: border-box;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
div.c2text {
    background: linear-gradient(transparent 50%, rgb(0, 225, 225));
    margin-bottom: 2vw;
}
div.sonardiagram {
    margin-bottom: 2vw;
}

div.sonardiagram2 {
    margin-bottom: 2vw;
}
/* Chapter 3 */
div.c3heading {
    box-sizing: border-box;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
div.chapter3body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
div.c3text {
    background: linear-gradient(transparent 50%, #00ff00);
    margin-bottom: 2vw;
    height:25vw;
    overflow:scroll;
    scrollbar-width: none;
}
div.c3text2 {
    margin-bottom: 2vw;
}
div.c3textbody2 {
    background: linear-gradient(transparent 50%, #00ff00);
    height:32vw;
    overflow:scroll;
    align-items: center;
    scrollbar-width: none;
}
div.c3formula {
    font-size: 1.6vw;
    line-height: 1.5vw;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding:10px;
    margin-bottom: 2vw;
}
div.c3formula2 {
    font-size: 1.1vw;
    line-height: 1.5vw;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding:10px;
    margin-bottom: 2vw;
}
/* Chapter 4*/
div.c4heading{
    box-sizing: border-box;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
div.c4text {
    background: linear-gradient(transparent 50%, orange);
    margin-bottom: 2vw;
}
div.c4img {
    margin-bottom: 2vw;
}
/* Footnotes */
div.footnotes {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid white;
    margin-bottom: 1vw;
}
/* Others */
div.bold{
    font-weight:bold;
}
div.sonardiagram {
    border: 4px ridge cyan;
}
div.sonardiagram2 {
    border: 4px ridge cyan;
}
div.bat1{
    border: 4px ridge violet;
}
div.c3img1 {
    border: 4px ridge #00d000;
    background-image: url('detect2.png'); /* Initial background image */
    background-size: cover;
}
div.c3img {
    border: 4px ridge #00d000;
}
div.c4img {
    border: 4px ridge orange;
}
div.center {
    margin-left:auto;
    margin-right:auto;
}                                                                                                                                                   

div.marginbottom {
    margin-bottom: 50px;
}

span.word 
{
    border:0.5rem solid transparent;
  }

span.word:hover {
    border:0.5rem solid blue;
}



div.hover:hover{
    filter: invert(100%);
}

div.hover1:hover{
    content:url('detect2.png');
}