body {
    background-color: black;
    background-image: url("screen.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-attachment: fixed;
    background-position-x: center;
}
img {
    width: 100%;
}
div.box {
    padding-left: 5%;
    padding-right: 5%;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
}
div.random {
    transition: 0.7s;
}
div.layout{
    display: flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
}
div.box.a {
    width:10%;
}s
div.box.b {
    width:15%;
}
div.box.c {
    width:25%;
}
div.box.one {
    opacity:10%;
}
div.box.two {
    opacity: 75%;
}
div.box.three {
    opacity:100%
}
div.box.x {
    filter: blur(4px);
}
div.box.y {
    filter: contrast(200%);
}
div.box.z {
   
}