@font-face {
font-family:'title';
src:url('spillmilk.woff');}
@font-face {
font-family:'st1';
src:url('st1.woff');}
@font-face {
font-family:'bps';
src:url('bodyparts.woff');}

body {
    background-color: black;
    color: white;
}

div.random {
    transition: 1s;
}

div.ttt0 {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}
div.title {
    margin-top: 100px;
    font-family: 'title';
    font-size: 180pt;
    width: 50%;
    color: white;
    font-weight: bolder;
    padding: 20px;
    background-color: blue;
}
div.tt0 {
    margin-top: 500px;
    margin-left: 30px;
    font-family: 'st1';
    Width: 50%;
    color: white;
    font-size: 18pt;
    font-weight: lighter;
    text-align: left;
}

div.fc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: black;
    font-family: 'bps';
}
div.fc.a {color: #f3f858;}
div.fc.b {color: orange;}
div.fc.c {color: #5ac3ed;}

div.fc.one {font-size: 100px;}
div.fc.two {font-size: 120px;}
div.fc.three {font-size: 140px;}

div.fc.x { text-shadow:1px 1px 10px orange, 1px 1px 10px orange;}
div.fc.y { text-shadow:1px 1px 10px #f3f858, 1px 1px 10px #f3f858;}
div.fc.z { text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}

div.body1 {
    background-color: black;
    font-family: 'bps';
    display: flex;
    flex-wrap: wrap;
}

div.sb {
    text-align: right;
    margin-left: auto;
    width: 33.33%;
    margin-top: auto;
    margin-bottom: auto;
}
div.sb.a {color: #5ac3ed;}
div.sb.b {color: #f3f858;}
div.sb.c {color: blue;}

div.sb.one {font-size: 80px;}
div.sb.two {font-size: 100px;}
div.sb.three {font-size: 120px;}

div.sb.x { text-shadow:1px 1px 10px blue, 1px 1px 10px blue;}
div.sb.y { text-shadow:1px 1px 10px #5ac3ed, 1px 1px 10px #5ac3ed;}
div.sb.z { text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}

div.st {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%;    
    margin-top: auto;
    margin-bottom: auto;
}
div.st.a {color: #b52126;}
div.st.b {color: #ff792f;}
div.st.c {color: orange;}

div.st.one {font-size: 100px;}
div.st.two {font-size: 120px;}
div.st.three {font-size: 140px;}

div.st.x {text-shadow:1px 1px 10px #e64b25, 1px 1px 10px #e64b25;}
div.st.y {text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}
div.st.z {text-shadow:1px 1px 10px #f3f858, 1px 1px 10px #f3f858;}

div.rs {
    text-align: left;
    margin-right: auto;
    width: 33.33%;
    margin-top: auto;
    margin-bottom: auto;
}
div.rs.a {color: orange;}
div.rs.b {color: #ff5900;}
div.rs.c {color: #f3f858;}

div.rs.one {font-size: 80px;}
div.rs.two {font-size: 100px;}
div.rs.three {font-size: 120px;}

div.rs.x {text-shadow:1px 1px 10px #e64b25, 1px 1px 10px #e64b25;}
div.rs.y {text-shadow:1px 1px 10px #ff792f, 1px 1px 10px #ff792f;}
div.rs.z {text-shadow:1px 1px 10px #5ac3ed, 1px 1px 10px #5ac3ed;}

div.body2 {
    background-color: black;
    font-family: 'bps';
    display: flex;
    font-size: 100px;
}
div.ac {
    text-align: right;
    margin-left: auto;
    width: 33.33%;
    margin-top: auto;
    margin-bottom: auto;
}
div.ac.a {color: #5ac3ed;}
div.ac.b {color: #f3f858;}
div.ac.c {color: blue;}

div.ac.one {font-size: 100px;}
div.ac.two {font-size: 120px;}
div.ac.three {font-size: 140px;}

div.ac.x{ text-shadow:1px 1px 10px blue, 1px 1px 10px blue;}
div.ac.y{ text-shadow:1px 1px 10px #5ac3ed, 1px 1px 10px #5ac3ed;}
div.ac.z{ text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}

div.tt1 {
    font-family: 'st1';
    Width: 33.33%;
    color: #26ff31;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

div.rm {
    text-align: left;
    margin-right: auto;
    width: 33.33%;    
    margin-top: auto;
    margin-bottom: auto;
}

div.rm.a {color: #26ff31;}
div.rm.b {color: #f3f858;}
div.rm.c {color: blue;}

div.rm.one {font-size: 80px;}
div.rm.two {font-size: 100px;}
div.rm.three {font-size: 120px;}

div.rm.x{ text-shadow:1px 1px 10px blue, 1px 1px 10px blue;}
div.rm.y{ text-shadow:1px 1px 10px blue, 1px 1px 10px blue;}
div.rm.z{ text-shadow:1px 1px 10px #482357, 1px 1px 10px #482357;}

div.body3 {
    background-color: black;
    font-family: 'bps';
    display: flex;
    font-size: 100px;
}

div.aluminium {
    text-align: right;
    margin-left: auto;
    width:33.33%;
    margin-top: auto;
    margin-bottom: auto;
}
div.aluminium.a {color: #e64b25;}
div.aluminium.b {color: rgb(255, 85, 0);}
div.aluminium.c {color: orange;}

div.aluminium.one {font-size: 80px;}
div.aluminium.two {font-size: 100px;}
div.aluminium.three {font-size: 120px;}

div.aluminium.x {text-shadow:1px 1px 10px orange, 1px 1px 10px orange;}
div.aluminium.y {text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}
div.aluminium.z {text-shadow:1px 1px 10px #f3f858, 1px 1px 10px #f3f858;}

div.battery {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 33.33%;
    margin-top: auto;
    margin-bottom: auto;
}
div.battery.a {color: orange;}
div.battery.b {color: #ff5900;}
div.battery.c {color: #f3f858;}

div.battery.one {font-size: 100px;}
div.battery.two {font-size: 120px;}
div.battery.three {font-size: 140px;}

div.battery.x {text-shadow:1px 1px 10px #e64b25, 1px 1px 10px #e64b25;}
div.battery.y {text-shadow:1px 1px 10px #ff792f, 1px 1px 10px #ff792f;}
div.battery.z {text-shadow:1px 1px 10px #5ac3ed, 1px 1px 10px #5ac3ed;}

div.e {
    text-align: left;
    margin-right: auto;
    width: 33.33%;
    margin-top: auto;
    margin-bottom: auto;
}
div.e.a {color: orange;}
div.e.b {color: #ff5900;}
div.e.c {color: #f3f858;}

div.e.one {font-size: 80px;}
div.e.two {font-size: 100px;}
div.e.three {font-size: 120px;}

div.e.x {text-shadow:1px 1px 10px #e64b25, 1px 1px 10px #e64b25;}
div.e.y {text-shadow:1px 1px 10px #ff792f, 1px 1px 10px #ff792f;}
div.e.z {text-shadow:1px 1px 10px #5ac3ed, 1px 1px 10px #5ac3ed;}

div.body4 {
    background-color: black;
    font-family: 'bps';
    display: flex;
    font-size: 100px;
}

div.vb {
    text-align: right;
    margin-left: auto;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

div.vb.a {color: #b52126;}
div.vb.b {color: #ff792f;}
div.vb.c {color: orange;}

div.vb.one {font-size: 100px;}
div.vb.two {font-size: 120px;}
div.vb.three {font-size: 140px;}

div.vb.x {text-shadow:1px 1px 10px #e64b25, 1px 1px 10px #e64b25;}
div.vb.y {text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}
div.vb.z {text-shadow:1px 1px 10px #f3f858, 1px 1px 10px #f3f858;}

div.tt2 {
    font-family: 'st1';
    Width: 50%;
    color: #e64b25;
    margin-left: 80px;
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

div.body5{
    background-color: black;
    font-family: 'bps';
    display: flex;
    font-size: 100px;
}

div.vs {
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
    width: 50%;
    background-color: black;
    font-family: 'bps';
    margin-top: auto;
    margin-bottom: auto;
}
div.vs.a {color: #f3f858;}
div.vs.b {color: orange;}
div.vs.c {color: #5ac3ed;}

div.vs.one {font-size: 100px;}
div.vs.two {font-size: 120px;}
div.vs.three {font-size: 140px;}

div.vs.x { text-shadow:1px 1px 10px orange, 1px 1px 10px orange;}
div.vs.y { text-shadow:1px 1px 10px #f3f858, 1px 1px 10px #f3f858;}
div.vs.z { text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}

div.ps {
    text-align: left;
    margin-left: 30px;
    width: 50%;
    background-color: black;
    font-family: 'bps';
    margin-top: auto;
    margin-bottom: auto;
}
div.ps.a {color: #26ff31;}
div.ps.b {color: #f3f858;}
div.ps.c {color: blue;}

div.ps.one {font-size: 80px;}
div.ps.two {font-size: 100px;}
div.ps.three {font-size: 120px;}

div.ps.x{ text-shadow:1px 1px 10px blue, 1px 1px 10px blue;}
div.ps.y{ text-shadow:1px 1px 10px blue, 1px 1px 10px blue;}
div.ps.z{ text-shadow:1px 1px 10px #482357, 1px 1px 10px #482357;}

div.body6 {
    background-color: black;
    font-family: 'bps';
    display: flex;
    font-size: 100px;
}

div.tt3 {
    font-family: 'st1';
    Width: 50%;
    color: blue;
    font-size: 18pt;
    font-weight: bold;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}
div.wg{ 
    text-align: left;
    margin-left: 80px;
    width: 50%;    
    margin-top: auto;
    margin-bottom: auto;
}
div.wg.a {color: #b52126;}
div.wg.b {color: #ff792f;}
div.wg.c {color: orange;}

div.wg.one {font-size: 80px;}
div.wg.two {font-size: 100px;}
div.wg.three {font-size: 120px;}

div.wg.x {text-shadow:1px 1px 10px #e64b25, 1px 1px 10px #e64b25;}
div.wg.y {text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}
div.wg.z {text-shadow:1px 1px 10px #f3f858, 1px 1px 10px #f3f858;}

div.hb {
    background-color: black;
    font-family: 'bps';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
}
div.hb.a {color: #b52126;}
div.hb.b {color: #ff792f;}
div.hb.c {color: orange;}

div.hb.one {font-size: 100px;}
div.hb.two {font-size: 120px;}
div.hb.three {font-size: 140px;}

div.hb.x {text-shadow:1px 1px 10px #e64b25, 1px 1px 10px #e64b25;}
div.hb.y {text-shadow:1px 1px 10px #26ff31, 1px 1px 10px #26ff31;}
div.hb.z {text-shadow:1px 1px 10px #f3f858, 1px 1px 10px #f3f858;}

div.cp {
    background-color: black;
    font-family: 'bps';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}
div.cp.a {color: orange;}
div.cp.b {color: #ff5900;}
div.cp.c {color: #f3f858;}

div.cp.one {font-size: 80px;}
div.cp.two {font-size: 100px;}
div.cp.three {font-size: 120px;}

div.cp.x {text-shadow:1px 1px 10px #e64b25, 1px 1px 10px #e64b25;}
div.cp.y {text-shadow:1px 1px 10px #ff792f, 1px 1px 10px #ff792f;}
div.cp.z {text-shadow:1px 1px 10px #5ac3ed, 1px 1px 10px #5ac3ed;}

div.bl {
    background-color: black;
    font-family: 'st1';
    display: flex;
    font-size: 100px;
}
div.mn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%; 
    font-size: 18pt;
    font-weight: bolder;
    color: orange;
    background-color: #b52126;
    margin-bottom: 20px;
}
div.colour {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%; 
    font-size: 18pt;
    font-weight: bolder;
    color: #26ff31;
    background-color: blue;
    margin-bottom: 20px;
}
div.ca {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%; 
    font-size: 18pt;
    font-weight: bolder;
    color: #f3f858;
    background-color: #482357;
    margin-bottom: 20px;
}